.section-_padding-none {
  background-color: var(--core-colors--primary);
}

@media screen and (max-width: 991px) {
  .section-_padding-none {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

@media screen and (max-width: 767px) {
  .section-_padding-none {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 479px) {
  .section-_padding-none {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.is-inverse {
  background-color: var(--_colors---background-colors--bg-inverse);
  color: var(--_type---text-color--text-accent-on-inverse);
}

@media screen and (max-width: 991px) {
  .section-_padding-none.text-color_on-overlay.is-inverse {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}

.grid_1-col {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: minmax(0px, 1fr);
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .grid_1-col {
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 479px) {
  .grid_1-col {
    overflow: hidden;
  }
}

.grid_1-col.ratio_1x1 {
  aspect-ratio: 1/1;
}

.position_relative {
  position: relative;
}

@media screen and (max-width: 767px) {
  .position_relative {
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 479px) {
  .position_relative {
    aspect-ratio: 2/3;
  }
}

.position_relative.min-height_100dvh {
  min-height: 84svh;
}

@media screen and (max-width: 479px) {
  .position_relative.min-height_100dvh {
    aspect-ratio: auto;
  }
}

.padding_small {
  padding: var(--_sizing---spacing--2x);
}

.position_relative.padding_small.text-color_on-overlay.z-index_2 {
  top: auto;
}

@media screen and (max-width: 767px) {
  .position_relative.padding_small.text-color_on-overlay.z-index_2 {
    position: absolute;
    left: 0%;
    top: 25%;
    right: 0%;
    bottom: auto;

    aspect-ratio: auto;
  }
}

@media screen and (max-width: 479px) {
  .position_relative.padding_small.text-color_on-overlay.z-index_2 {
    position: absolute;
    top: 15%;
  }
}

.z-index_2 {
  z-index: 2;
}

.image_cover {
  width: 100%;
  height: 100%;
  border-radius: var(--image--image-radius);
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .image_cover {
    object-fit: fill;
  }
}

.position_absolute {
  position: absolute;
}

@media screen and (max-width: 479px) {
  .image_cover.position_absolute.radius_all-0 {
    object-fit: cover;
  }
}

.radius_all-0 {
  border-radius: 0px;
}

@media screen and (max-width: 479px) {
  .image_cover.ratio_3x2_tablet-1-2 {
    position: relative;
  }
}

.overlay_opacity-middle {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: var(--_colors---background-colors--bg-overlay);

  opacity: 0.49;
}

@media screen and (max-width: 767px) {
  .overlay_opacity-middle {
    aspect-ratio: auto;
  }
}

.overlay_opacity-middle.is-inverse {
  background-color: var(--core-colors--inverse);
  opacity: 0.25;
}

@media screen and (max-width: 479px) {
  .overlay_opacity-middle.mask_top {
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
  }
}

.mask_top {
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.1) 100%);
}

.container {
  width: 100%;
  max-width: var(--_sizing---container-width-1280x);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--_sizing---container--container-padding-horizontal);
  padding-left: var(--_sizing---container--container-padding-horizontal);
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: var(--_sizing---container--container-xl-width);
  }
}

.container.is-small {
  width: 75%;
  max-width: 1000px;
}

@media screen and (max-width: 991px) {
  .container.is-small {
    width: 90%;
  }
}

.container.is-large {
  width: 95%;
  max-width: 1440px;
}

.container.is-max {
  width: 100%;
  max-width: none;
}

.padding-bottom_large {
  padding-bottom: 4rem;
}

@media screen and (max-width: 767px) {
  .padding-bottom_large {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1920px) {
  .container.position_relative.padding-bottom_large.z-index_2 {
    max-width: var(--_sizing---container--container-xl-width);
  }
}

.container.max-width_large {
  max-width: var(--_sizing---container-width-1280x);
}

@media screen and (min-width: 1920px) {
  .container.max-width_large {
    max-width: var(--_sizing---container--container-xl-width);
  }
}

@media screen and (max-width: 991px) {
  .container.max-width_large {
    max-width: var(--_sizing---container--container-lg-width);
  }
}

@media screen and (max-width: 479px) {
  .container.max-width_large {
    padding-top: 2rem;
  }
}

.max-width_large {
  display: flex;
  max-width: 50rem;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  color: var(--core-colors--primary);
}

@media screen and (min-width: 1920px) {
  .max-width_large {
    align-self: center;
    flex: 1;
  }
}

.max-width_large:where(.w-variant-a2227fce-f01f-4229-b3d5-1eca6731dde1) {
  color: var(--core-colors--inverse);
}

@media screen and (max-width: 991px) {
  .max-width_large {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .max-width_large {
    padding-top: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .max-width_large {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.flex_horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media screen and (max-width: 991px) {
  .flex_horizontal {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .flex_horizontal {
    display: inline-grid;
    width: 100%;
    padding-top: 0px;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.container.max-container-width {
  max-width: var(--_sizing---container-width-1280x);
}

.header {
  display: flex;
  margin-bottom: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
}

@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 2rem;
  }
}

.header.is-2-col {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .header.is-2-col {
    display: flex;
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
  }
}

.header.is-2-col.is-2-row {
  grid-row-gap: 2rem;
  grid-template-rows: auto auto;
}

.header.is-2-col.is-2-row.is-1-col-quarter {
  padding-right: 5rem;
  padding-left: 5rem;
  grid-column-gap: 2rem;
  grid-row-gap: 0rem;
  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: auto auto auto;
}

@media screen and (max-width: 991px) {
  .header.is-2-col.is-2-row.is-1-col-quarter {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .header.is-2-col.is-2-row.is-1-col-quarter {
    padding-right: 0.125rem;
    padding-left: 0rem;
    justify-content: center;
    align-items: stretch;
  }
}

.margin-bottom_none {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

.header.is-align-center {
  justify-content: center;
}

.is-align-center {
  text-align: center;
}

.heading_hero {
  line-height: 0.95;
  font-weight: 300;
  text-transform: lowercase;
}

@media screen and (max-width: 479px) {
  .heading_hero {
    padding-top: 3rem;
    font-size: 4rem;
    text-align: left;
  }
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-vertical {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.gap-small {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-vertical.tablet-x-center {
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-vertical.tablet-y-center {
    justify-content: center;
  }
}

.flex_horizontal.flex_vertical {
  flex-direction: column;
}

.flex_vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gap-large {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

.flex_horizontal.flex_vertical.is-space-between {
  justify-content: space-between;
}

.flex_horizontal.flex_vertical.is-space-between.gap-xsmall {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.gap-xsmall {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.flex_horizontal.gap-small {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.flex_horizontal.gap-medium {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.gap-medium {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.flex_horizontal.gap-xsmall {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.flex_horizontal.gap-large {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

@media screen and (max-width: 767px) {
  .flex_horizontal.gap-large {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.flex_horizontal.is-wrap {
  flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-flex-horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .flex_horizontal.mobile-horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .flex_horizontal.flex_vertical_mobile-l {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.is-y-center {
  justify-items: stretch;
  align-items: center;
}

.flex_horizontal.is-y-center.gap-xsmall {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.margin_top-auto {
  margin-top: auto !important;
}

.flex_horizontal.is-y-center.gap-xxsmall {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

@media screen and (max-width: 991px) {
  .flex_horizontal.is-y-center.gap-xxsmall {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .flex_horizontal.is-y-center.gap-xxsmall {
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: auto;
  }
}

.gap-xxsmall {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.login_welcome-message {
  display: inline-block;
  width: 18rem;
  padding-right: 0.5rem;
  align-self: center;
  flex: 0 auto;

  font-size: var(--_type---text-lg--lg-text-size);
  font-weight: 400;
  text-align: right;
  text-transform: lowercase;
}

@media screen and (min-width: 1920px) {
  .login_welcome-message {
    font-weight: 400;
  }
}

@media screen and (max-width: 479px) {
  .login_welcome-message {
    display: block;
    padding-right: 0rem;
    font-weight: 400;
    text-align: right;
  }
}

.login_cta {
  padding-right: 0rem;
  font-size: var(--_type---text--text-size);
  font-weight: 400;
  text-align: right;
  text-transform: lowercase;
}

@media screen and (min-width: 1920px) {
  .login_cta {
    font-weight: 400;
  }
}

@media screen and (max-width: 479px) {
  .login_cta {
    font-weight: 400;
    text-align: right;
  }
}

.login_user-image-wrapper {
  border-radius: 50%;
}

@media screen and (max-width: 479px) {
  .login_user-image-wrapper {
    padding-right: 2rem;
    align-self: center;
  }
}

.login-cta-image {
  width: 100px;
  height: 100px;
  align-self: center;

  border-radius: 50%;

  object-fit: cover;
  object-position: 50% 0%;
}

.login_user-avatar {
  display: block;
  width: 100px;
  height: 100px;
  max-height: 100%;
  max-width: 100%;
  flex: 0 auto;
  aspect-ratio: 1/1;

  border-radius: 50%;

  object-fit: cover;
  object-position: 50% 0%;
}

.flex_vertical.gap-xlarge {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
}

.gap-xlarge {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
}

.flex_vertical.gap-large {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

@media screen and (max-width: 991px) {
  .flex_vertical.gap-large {
    justify-content: flex-end;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .flex_vertical.gap-large {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.flex_vertical.gap-xsmall {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media screen and (max-width: 479px) {

}

.flex_vertical.gap-xxsmall {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.flex_vertical.gap-small {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 991px) {
  .flex_vertical.gap-small {
    display: inline-grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 767px) {
  .flex_vertical.gap-small {
    grid-template-columns: 1fr;
  }
}

.flex_vertical.gap-small.is-vertical-stretch {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

@media screen and (max-width: 991px) {
  .flex_vertical.gap-small.is-vertical-stretch {
    align-self: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.flex-child_expand {
  flex: 1;
}

.gap-xxlarge {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
}

.flex_vertical.is_align-center-flex {
  align-items: center;
}

.flex_vertical.is_align-end-flex {
  justify-content: flex-start;
  align-items: flex-end;
}

.flex_vertical.is-x-center {
  justify-items: center;
}

.flex_vertical.is-x-center.text-align_center {
  border-top-color: color-mix(in srgb, currentColor 50%, transparent);
  border-right-color: color-mix(in srgb, currentColor 50%, transparent);
  border-bottom-color: color-mix(in srgb, currentColor 50%, transparent);
  border-left-color: color-mix(in srgb, currentColor 50%, transparent);
}

.text-align_center {
  text-align: center;
}

.paragraph_large {
  font-size: var(--_type---text-lg--lg-text-size);
}

@media screen and (max-width: 991px) {
  .paragraph_large {
    font-size: 1.13rem;
  }
}

@media screen and (max-width: 767px) {
  .paragraph_large {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 479px) {
  .paragraph_large {
    font-size: 1.25rem;
    text-align: left;
  }
}

.button-group {
  display: flex;
  margin-top: 2rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media screen and (max-width: 479px) {
  .button-group {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}

.button-group.is-align-center {
  justify-content: center;
}

.button-group.is-align-right {
  justify-content: flex-end;
}

.button-group.is-vertical-stretch {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.button-group.margin-top_none {
  align-self: flex-start;
}

@media screen and (max-width: 991px) {
  .button-group.margin-top_none {
    align-self: center;
  }
}

@media screen and (max-width: 479px) {
  .button-group.margin-top_none {
    align-self: flex-start;
  }
}

.margin-top_none {
  margin-top: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

#w-node-_83130efd-cc89-3e63-e012-238651cb9c90-51cb9c8e.w-node-beec4a8a-f9ec-98e6-6e85-efbaee46b446-ee46b444 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#w-node-_83130efd-cc89-3e63-e012-238651cb9c93-51cb9c8e.w-node-beec4a8a-f9ec-98e6-6e85-efbaee46b449-ee46b444 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: end;
}
#w-node-beec4a8a-f9ec-98e6-6e85-efbaee46b44b-ee46b444 {
  grid-row-start: span 3;
  grid-row-end: span 3;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-beec4a8a-f9ec-98e6-6e85-efbaee46b44d-ee46b444 {
}
#w-node-b44b49b5-d3e6-a05f-997e-8ac7efbac3da-51cb9c8e.w-node-beec4a8a-f9ec-98e6-6e85-efbaee46b455-ee46b444 {
  align-self: end;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}
@media screen and (max-width: 991px) {
  #w-node-_83130efd-cc89-3e63-e012-238651cb9c93-51cb9c8e.w-node-beec4a8a-f9ec-98e6-6e85-efbaee46b449-ee46b444 {
    align-self: end;
  }
  #w-node-beec4a8a-f9ec-98e6-6e85-efbaee46b44b-ee46b444 {
  }
}
@media screen and (max-width: 479px) {
  #w-node-_83130efd-cc89-3e63-e012-238651cb9c90-51cb9c8e.w-node-beec4a8a-f9ec-98e6-6e85-efbaee46b446-ee46b444 {
  }
  #welcome-message.w-node-beec4a8a-f9ec-98e6-6e85-efbaee46b44e-ee46b444 {
    justify-self: center;
  }
  #w-node-b0383f84-1885-e804-f569-39a7055e17e4-ee46b444 {
    order: -9999;
    justify-self: end;
  }
}