.section {
  padding: 8rem 20px;
  background-color: var(--core-colors--primary);
}

@media screen and (max-width: 991px) {
  .section {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.card {
  overflow: hidden;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 0 auto;

  border: 1px solid transparent;
  border-radius: var(--_cards---card--card-radius);

  background-color: var(--_cards---card-primary--card-primary-bg);

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);

  color: var(--_type---text-color--text-primary);
  list-style-type: none;
}

.section.is-secondary {
  background-color: var(--_colors---background-colors--bg-secondary);
}

.section.is-secondary.card {
  border-radius: var(--_cards---card--card-radius);
}

.section.is-accent-primary {
  background-color: var(--_colors---background-colors--bg-accent-primary);
  color: var(--_type---text-color--text-secondary);
}

.is-accent-primary {
  background-color: black;
  color: #f8f8f4;
}

.section.is-accent-secondary {
  background-color: var(--_colors---background-colors--bg-accent-secondary);
  color: var(--_type---text-color--text-secondary);
}

.sg_preview-bordered {
  width: 100%;
  min-height: 10rem;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;

  pointer-events: auto;
}

.section.is-accent-tertiary {
  background-color: var(--_colors---background-colors--bg-tertiary);
  color: var(--text-on-tertiary);
}

.section.is-accent-tertiary.card {
  background-color: var(--_colors---background-colors--bg-tertiary);
}

.section.is-inverse {
  max-width: none;
  min-height: auto;
  min-width: auto;
}

.is-inverse {
  background-color: var(--_colors---background-colors--bg-inverse);
  color: var(--_type---text-color--text-accent-on-inverse);
}

.sg_card-wrapper {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  border-radius: 1.5rem;

  background-color: #f8f8f4;
}

.background_primary {
  background-color: #f8f8f4;
  color: #4a4a49;
}

.background_inverse {
  background-color: var(--core-colors--inverse);
  color: var(--_type---text-color--text-accent-on-inverse);
}

.section.is-tertiary {
  background-color: var(--core-colors--tertiary);
}

.overflow_clip {
  overflow: clip;
}

.margin-top_none {
  margin-top: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

.padding-top_none {
  padding-top: 0 !important;
}

@media screen and (max-width: 991px) {
  .padding-top_none {
    padding-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .padding-top_none {
    padding-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  .padding-top_none {
    padding-top: 0px;
  }
}

.container {
  width: 100%;
  max-width: var(--_sizing---container-width-1280x);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--_sizing---container--container-padding-horizontal);
  padding-left: var(--_sizing---container--container-padding-horizontal);
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: var(--_sizing---container--container-xl-width);
  }
}

.container.is-small {
  width: 75%;
  max-width: 1000px;
}

@media screen and (max-width: 991px) {
  .container.is-small {
    width: 90%;
  }
}

.container.is-large {
  width: 95%;
  max-width: 1440px;
}

.container.is-max {
  width: 100%;
  max-width: none;
}

.position_relative {
  position: relative;
}

@media screen and (max-width: 767px) {
  .position_relative {
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 479px) {
  .position_relative {
    aspect-ratio: 2/3;
  }
}

.padding-bottom_large {
  padding-bottom: 4rem;
}

@media screen and (max-width: 767px) {
  .padding-bottom_large {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1920px) {
  .container.position_relative.padding-bottom_large.z-index_2 {
    max-width: var(--_sizing---container--container-xl-width);
  }
}

.z-index_2 {
  z-index: 2;
}

.container.max-width_large {
  max-width: var(--_sizing---container-width-1280x);
}

@media screen and (min-width: 1920px) {
  .container.max-width_large {
    max-width: var(--_sizing---container--container-xl-width);
  }
}

@media screen and (max-width: 991px) {
  .container.max-width_large {
    max-width: var(--_sizing---container--container-lg-width);
  }
}

@media screen and (max-width: 479px) {
  .container.max-width_large {
    padding-top: 2rem;
  }
}

.max-width_large {
  display: flex;
  max-width: 50rem;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  color: var(--core-colors--primary);
}

@media screen and (min-width: 1920px) {
  .max-width_large {
    align-self: center;
    flex: 1;
  }
}

.max-width_large:where(.w-variant-a2227fce-f01f-4229-b3d5-1eca6731dde1) {
  color: var(--core-colors--inverse);
}

@media screen and (max-width: 991px) {
  .max-width_large {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .max-width_large {
    padding-top: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .max-width_large {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.flex_horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media screen and (max-width: 991px) {
  .flex_horizontal {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .flex_horizontal {
    display: inline-grid;
    width: 100%;
    padding-top: 0px;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.container.max-container-width {
  max-width: var(--_sizing---container-width-1280x);
}

.grid_2-col {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .grid_2-col {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-columns: minmax(0px, 1fr);
  }
}

.grid_2-col.gap-small {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 767px) {
  .grid_2-col.gap-small {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

.gap-small {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.grid_2-col.gap-medium {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

@media screen and (max-width: 767px) {
  .grid_2-col.gap-medium {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.gap-medium {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.grid_2-col.is-x-center {
  justify-items: center;
}

.grid_2-col.is-x-center.width_100percent {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media screen and (max-width: 767px) {
  .grid_2-col.mobile-l-1-col {
    grid-template-columns: 1fr;
  }
}

.grid_2-col.tablet-1-col {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
}

@media screen and (min-width: 1920px) {
  .grid_2-col.tablet-1-col {
    grid-template-rows: min-content;
  }
}

@media screen and (max-width: 991px) {
  .grid_2-col.tablet-1-col {
    grid-template-columns: minmax(0px, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .grid_2-col.tablet-1-col {
    grid-template-rows: auto;
  }
}

.grid_2-col.tablet-1-col.gap-xsmall {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media screen and (max-width: 991px) {
  .grid_2-col.tablet-1-col.gap-xsmall {
    grid-template-columns: minmax(0px, 1fr) 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .grid_2-col.tablet-1-col.gap-xsmall {
    grid-template-columns: minmax(0px, 1fr);
  }
}

.gap-xsmall {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.grid_2-col.tablet-1-col.gap-xxlarge {
  grid-template-rows: auto;
}

.gap-xxlarge {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
}

.grid_2-col.tablet-1-col.gap-medium {
  grid-column-gap: var(--_sizing---spacing--3x);
  grid-row-gap: var(--_sizing---spacing--3x);
}

.gap-large {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

.grid_2-col.gap-xxlarge {
  grid-column-gap: var(--_sizing---gap--xxl-gap);
  grid-row-gap: var(--_sizing---gap--xxl-gap);
}

.grid_2-col.gap-large {
  grid-column-gap: var(--_sizing---gap--lg-gap);
  grid-row-gap: var(--_sizing---gap--lg-gap);
}

.image_cover {
  width: 100%;
  height: 100%;
  border-radius: var(--image--image-radius);
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .image_cover {
    object-fit: fill;
  }
}

.position_absolute {
  position: absolute;
}

@media screen and (max-width: 479px) {
  .image_cover.position_absolute.radius_all-0 {
    object-fit: cover;
  }
}

.radius_all-0 {
  border-radius: 0px;
}

@media screen and (max-width: 479px) {
  .image_cover.ratio_3x2_tablet-1-2 {
    position: relative;
  }
}

.header {
  display: flex;
  margin-bottom: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
}

@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 2rem;
  }
}

.header.is-2-col {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .header.is-2-col {
    display: flex;
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
  }
}

.header.is-2-col.is-2-row {
  grid-row-gap: 2rem;
  grid-template-rows: auto auto;
}

.header.is-2-col.is-2-row.is-1-col-quarter {
  padding-right: 5rem;
  padding-left: 5rem;
  grid-column-gap: 2rem;
  grid-row-gap: 0rem;
  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: auto auto auto;
}

@media screen and (max-width: 991px) {
  .header.is-2-col.is-2-row.is-1-col-quarter {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .header.is-2-col.is-2-row.is-1-col-quarter {
    padding-right: 0.125rem;
    padding-left: 0rem;
    justify-content: center;
    align-items: stretch;
  }
}

.margin-bottom_none {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

.header.is-align-center {
  justify-content: center;
}

.is-align-center {
  text-align: center;
}

.heading_h2 {
  margin-bottom: 0.35em;

  font-family: var(--font--heading-font);
  font-size: var(--_headers---h2-heading--h2-size);
  line-height: var(--_headers---h2-heading--h2-line-height);
  font-weight: var(--_headers---h2-heading--h2-weight);
  letter-spacing: -0.01em;
  text-transform: lowercase;

  text-wrap: balance;
}

@media screen and (max-width: 991px) {
  .heading_h2 {
    font-size: 1.89rem;
  }
}

@media screen and (max-width: 767px) {
  .heading_h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .heading_h2 {
    font-size: 2.6rem;
    text-align: center;
  }
}

.heading_h2.margin-top_none.text-align_center {
  text-align: left;
}

.text-align_center {
  text-align: center;
}

.margin-bottom_medium {
  margin-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .margin-bottom_medium {
    margin-bottom: 1.5rem;
  }
}

.subheading {
  max-width: 1000px;
  margin-bottom: 0.5rem;

  font-family: var(--font--body-font);
  font-size: 1.13rem;
  line-height: 1.6em;
  font-weight: var(--_type---base-typography--base-font-weight-light);
  letter-spacing: 0em;
  color: color-mix(in srgb, currentColor 70%, transparent);

  text-wrap: balance;
}

@media screen and (max-width: 991px) {
  .subheading {
    font-size: 1.13rem;
  }
}

@media screen and (max-width: 767px) {
  .subheading {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 479px) {
  .subheading {
    font-size: var(--_type---text--text-size);
    text-align: center;
  }
}

.subheading.margin-bottom_small {
  margin-bottom: var(--_sizing---spacing--2x);
}

.margin-bottom_small {
  margin-bottom: var(--_sizing---spacing--2x);
}

@media screen and (max-width: 767px) {
  .margin-bottom_small {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-vertical {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-vertical.tablet-x-center {
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-vertical.tablet-y-center {
    justify-content: center;
  }
}

.flex_horizontal.flex_vertical {
  flex-direction: column;
}

.flex_vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.flex_horizontal.flex_vertical.is-space-between {
  justify-content: space-between;
}

.flex_horizontal.flex_vertical.is-space-between.gap-xsmall {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.flex_horizontal.gap-small {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.flex_horizontal.gap-medium {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.flex_horizontal.gap-xsmall {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.flex_horizontal.gap-large {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

@media screen and (max-width: 767px) {
  .flex_horizontal.gap-large {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.flex_horizontal.is-wrap {
  flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
  .flex_horizontal.tablet-flex-horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .flex_horizontal.mobile-horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .flex_horizontal.flex_vertical_mobile-l {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.is-y-center {
  justify-items: stretch;
  align-items: center;
}

.flex_horizontal.is-y-center.gap-xsmall {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.margin_top-auto {
  margin-top: auto !important;
}

.flex_horizontal.is-y-center.gap-xxsmall {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

@media screen and (max-width: 991px) {
  .flex_horizontal.is-y-center.gap-xxsmall {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .flex_horizontal.is-y-center.gap-xxsmall {
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: auto;
  }
}

.gap-xxsmall {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

@media screen and (max-width: 479px) {
  .masthead-meta {
    white-space: nowrap;
  }
}

.button {
  display: inline-flex;
  padding: 1.5em 2em;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;

  border: var(--_buttons---btn-border-width) none var(--_buttons---button-primary--btn-primary-border);
  border-radius: 0.625rem;

  background-color: var(--_buttons---button-primary--btn-primary-bg);
  background-image: none;

  box-shadow: none;
  pointer-events: auto;

  transform: none;
  transition: box-shadow 200ms ease,background-color 400ms ease,transform 400ms ease;

  font-family: var(--_buttons---button--btn-font);
  color: var(--_buttons---button-primary--btn-primary-text);
  font-size: var(--_buttons---button-text-size--btn-text-size);
  line-height: 1.2;
  font-weight: var(--_buttons---buttons-weights--btn-weight);
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
}

.button:where(.w-variant-a4ce45ea-1456-a9b1-ca8d-3f1b775164b8) {
  border: var(--_buttons---btn-border-width) solid var(--_buttons---button-primary-outline--btn-primary-outline-border);
  border-radius: var(--_buttons---button--btn-radius);

  background-color: var(--_buttons---button-primary-outline--btn-primary-outline-bg);

  box-shadow: none;

  transform: none;

  color: var(--_buttons---button-primary-outline--btn-primary-outline-text);
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.button:where(.w-variant-694c6b93-24d2-eba7-e303-3528ee01e28f) {
  border: var(--_buttons---btn-border-width) none var(--_buttons---button-inverse--btn-inverse-border);
  border-radius: var(--_buttons---button--btn-radius);

  background-color: var(--_buttons---button-inverse--btn-inverse-bg);

  box-shadow: none;

  transform: none;

  color: var(--_buttons---button-inverse--btn-inverse-text);
}

.button:where(.w-variant-a196f9ad-e0be-348c-d243-0f3247450fa1) {
  border: var(--_buttons---btn-border-width) solid var(--_buttons---button-inverse-outline--btn-inverse-outline-border);
  background-color: var(--_buttons---button-inverse-outline--btn-inverse-outline-bg);
  box-shadow: none;
  transform: none;
  color: var(--_buttons---button-inverse-outline--btn-inverse-outline-text);
}

.button:where(.w-variant-ab31972b-7cb1-5360-f4a4-4f04b4d3ed7d) {
  border-color: var(--_buttons---button-secondary--btn-secondary-border);
  border-radius: var(--_buttons---button--btn-radius);

  background-color: var(--_buttons---button-secondary--btn-secondary-bg);

  box-shadow: none;

  transform: none;

  color: var(--_buttons---button-secondary--btn-secondary-text);
}

.button:where(.w-variant-52109836-4143-4253-2196-a1655d7f7036) {
  border: var(--_buttons---btn-border-width) none var(--_buttons---button-tertiary--btn-tertiary-border);
  border-radius: var(--_buttons---button--btn-radius);

  background-color: var(--_buttons---button-tertiary--btn-tertiary-bg);

  box-shadow: none;

  transform: none;

  color: var(--_buttons---button-tertiary--btn-tertiary-text);
}

.button:where(.w-variant-5283d317-22c8-f571-2a7b-75463d0c6adb) {
  border: var(--_buttons---btn-border-width) solid var(--_buttons---button-primary-outline--btn-primary-outline-border);
  border-radius: var(--_buttons---button--btn-radius);

  background-color: var(--_buttons---button-primary-outline--btn-primary-outline-bg);

  box-shadow: none;

  transform: none;

  color: var(--_buttons---button-primary-outline--btn-primary-outline-text);
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.button:where(.w-variant-5283d317-22c8-f571-2a7b-75463d0c6adc) {
  border: var(--_buttons---btn-border-width) none var(--_buttons---button-inverse--btn-inverse-border);
  border-radius: var(--_buttons---button--btn-radius);

  background-color: var(--_buttons---button-inverse--btn-inverse-bg);

  box-shadow: none;

  transform: none;

  color: var(--_buttons---button-inverse--btn-inverse-text);
}

.button:where(.w-variant-5283d317-22c8-f571-2a7b-75463d0c6add) {
  border: var(--_buttons---btn-border-width) solid var(--_buttons---button-inverse-outline--btn-inverse-outline-border);
  background-color: var(--_buttons---button-inverse-outline--btn-inverse-outline-bg);
  box-shadow: none;
  transform: none;
  color: var(--_buttons---button-inverse-outline--btn-inverse-outline-text);
}

.button:where(.w-variant-5283d317-22c8-f571-2a7b-75463d0c6ade) {
  border-color: var(--_buttons---button-secondary--btn-secondary-border);
  border-radius: var(--_buttons---button--btn-radius);

  background-color: var(--_buttons---button-secondary--btn-secondary-bg);

  box-shadow: none;

  transform: none;

  color: var(--_buttons---button-secondary--btn-secondary-text);
}

.button:where(.w-variant-5283d317-22c8-f571-2a7b-75463d0c6adf) {
  border: var(--_buttons---btn-border-width) none var(--_buttons---button-tertiary--btn-tertiary-border);
  border-radius: var(--_buttons---button--btn-radius);

  background-color: var(--_buttons---button-tertiary--btn-tertiary-bg);

  box-shadow: none;

  transform: none;

  color: var(--_buttons---button-tertiary--btn-tertiary-text);
}

.button:hover {
  border-style: none;
  border-color: var(--_buttons---button-primary--btn-primary-border-hover);

  background-color: var(--_buttons---button-primary--btn-primary-bg-hover);
  background-image: none;

  box-shadow: inset 0 -1px 30px -10px var(--_buttons---button-primary--btn-primary-inner-shadow-hover), -5px 25px 35px -10px var(--_buttons---button-primary--btn-primary-border-shadow-hover);

  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);
  transform-style: preserve-3d;
}

.button:hover:where(.w-variant-694c6b93-24d2-eba7-e303-3528ee01e28f) {
  background-color: var(--_buttons---button-secondary--btn-secondary-bg-hover);
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-inverse--btn-inverse-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-inverse--btn-inverse-border-shadow-hover);
}

.button:hover:where(.w-variant-a196f9ad-e0be-348c-d243-0f3247450fa1) {
  border-style: solid;
  border-color: var(--_buttons---button-inverse-outline--btn-inverse-outline-border);
  border-radius: var(--_buttons---button--btn-radius);

  background-color: var(--_buttons---button-inverse-outline--btn-inverse-outline-bg);

  box-shadow: inset 0 0 30px -15px var(--_buttons---button-inverse-outline--btn-inverse-outline-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-inverse-outline--btn-inverse-outline-border-shadow-hover);

  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);
  transform-style: preserve-3d;
}

.button:hover:where(.w-variant-ab31972b-7cb1-5360-f4a4-4f04b4d3ed7d) {
  border-color: var(--_buttons---button-secondary--btn-secondary-border-hover);
  background-color: var(--_buttons---button-secondary--btn-secondary-bg-hover);
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-secondary--btn-secondary-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-secondary--btn-secondary-border-shadow-hover);
  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);
  color: var(--_buttons---button-secondary--btn-secondary-text);
  transform-style: preserve-3d;
}

.button:hover:where(.w-variant-52109836-4143-4253-2196-a1655d7f7036) {
  border-color: var(--_buttons---button-tertiary--btn-tertiary-border);
  background-color: var(--_buttons---button-tertiary--btn-tertiary-bg-hover);
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-tertiary--btn-tertiary-inner-shadow-hover), 0 20px 30px -15px var(--_buttons---button-tertiary--btn-tertiary-border-shadow-hover);
  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);
  transform-style: preserve-3d;
}

.button:hover:where(.w-variant-a4ce45ea-1456-a9b1-ca8d-3f1b775164b8) {
  border-style: solid;
  border-color: var(--_buttons---button-primary-outline--btn-primary-outline-border-hover);
  background-color: var(--_buttons---button-primary-outline--btn-primary-outline-bg-hover);
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-primary-outline--btn-primary-outline-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-primary-outline--btn-primary-outline-border-shadow-hover);
  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);
  transform-style: preserve-3d;
}

.button:hover:where(.w-variant-5283d317-22c8-f571-2a7b-75463d0c6adb) {
  border-style: solid;
  border-color: var(--_buttons---button-primary-outline--btn-primary-outline-border-hover);
  background-color: var(--_buttons---button-primary-outline--btn-primary-outline-bg-hover);
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-primary-outline--btn-primary-outline-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-primary-outline--btn-primary-outline-border-shadow-hover);
  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);
  transform-style: preserve-3d;
}

.button:hover:where(.w-variant-5283d317-22c8-f571-2a7b-75463d0c6adc) {
  background-color: var(--_buttons---button-secondary--btn-secondary-bg-hover);
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-inverse--btn-inverse-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-inverse--btn-inverse-border-shadow-hover);
}

.button:hover:where(.w-variant-5283d317-22c8-f571-2a7b-75463d0c6add) {
  border-style: solid;
  border-color: var(--_buttons---button-inverse-outline--btn-inverse-outline-border);
  border-radius: var(--_buttons---button--btn-radius);

  background-color: var(--_buttons---button-inverse-outline--btn-inverse-outline-bg);

  box-shadow: inset 0 0 30px -15px var(--_buttons---button-inverse-outline--btn-inverse-outline-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-inverse-outline--btn-inverse-outline-border-shadow-hover);

  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);
  transform-style: preserve-3d;
}

.button:hover:where(.w-variant-5283d317-22c8-f571-2a7b-75463d0c6ade) {
  border-color: var(--_buttons---button-secondary--btn-secondary-border-hover);
  background-color: var(--_buttons---button-secondary--btn-secondary-bg-hover);
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-secondary--btn-secondary-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-secondary--btn-secondary-border-shadow-hover);
  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);
  color: var(--_buttons---button-secondary--btn-secondary-text);
  transform-style: preserve-3d;
}

.button:hover:where(.w-variant-5283d317-22c8-f571-2a7b-75463d0c6adf) {
  border-color: var(--_buttons---button-tertiary--btn-tertiary-border);
  background-color: var(--_buttons---button-tertiary--btn-tertiary-bg-hover);
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-tertiary--btn-tertiary-inner-shadow-hover), 0 20px 30px -15px var(--_buttons---button-tertiary--btn-tertiary-border-shadow-hover);
  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);
  transform-style: preserve-3d;
}

.button:active {
  box-shadow: none;
  transform: rotate(4deg);
}

.button:active:where(.w-variant-ab31972b-7cb1-5360-f4a4-4f04b4d3ed7d) {
  box-shadow: none;
}

.button:active:where(.w-variant-52109836-4143-4253-2196-a1655d7f7036) {
  box-shadow: none;
  transform: rotate(4deg);
}

.button:active:where(.w-variant-a4ce45ea-1456-a9b1-ca8d-3f1b775164b8) {
  box-shadow: none;
  transform: rotate(4deg);
}

.button:active:where(.w-variant-694c6b93-24d2-eba7-e303-3528ee01e28f) {
  box-shadow: none;
}

.button:active:where(.w-variant-a196f9ad-e0be-348c-d243-0f3247450fa1) {
  box-shadow: none;
  transform: rotate(4deg);
}

.button:active:where(.w-variant-5283d317-22c8-f571-2a7b-75463d0c6adb) {
  box-shadow: none;
  transform: rotate(4deg);
}

.button:active:where(.w-variant-5283d317-22c8-f571-2a7b-75463d0c6adc) {
  box-shadow: none;
}

.button:active:where(.w-variant-5283d317-22c8-f571-2a7b-75463d0c6add) {
  box-shadow: none;
  transform: rotate(4deg);
}

.button:active:where(.w-variant-5283d317-22c8-f571-2a7b-75463d0c6ade) {
  box-shadow: none;
}

.button:active:where(.w-variant-5283d317-22c8-f571-2a7b-75463d0c6adf) {
  box-shadow: none;
  transform: rotate(4deg);
}

@media screen and (max-width: 479px) {
  .button {
    margin: 0rem auto;
    white-space: nowrap;
  }
}

.nav_link {
  display: flex;
  padding-top: 0.5em;
  padding-right: 0.75em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;

  text-decoration: none;
  white-space: nowrap;
  word-break: keep-all;
  color: color-mix(in srgb, currentColor 75%, transparent);
}

.nav_link:hover {
  background-color: color-mix(in srgb, currentColor 05%, transparent);
  color: inherit;
}

.nav_link:global(.w--current) {
  background-color: transparent;
}

.nav_link:global(.w--open) {
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .nav_link {
    justify-content: space-between;
    align-items: center;
    font-size: 1.13rem;
  }
}

@media screen and (max-width: 991px) {
  .nav_link:hover {
    color: black;
    background-color: color-mix(in srgb, currentColor 0%, transparent);
  }
}

@media screen and (max-width: 991px) {
  .nav_link:global(.w--current):hover {
    background-color: transparent;
  }
}

@media screen and (max-width: 991px) {
  .nav_link:global(.w--open) {
    background-color: hsla(0, 0.00%, 0.00%, 0.00);
  }
}

.button.is-secondary {
  border: var(--_buttons---btn-border-width) none var(--_buttons---button-secondary--btn-secondary-border);
  border-radius: var(--_buttons---button--btn-radius);

  background-color: var(--_buttons---button-secondary--btn-secondary-bg);

  box-shadow: none;

  transform: none;

  color: var(--_buttons---button-secondary--btn-secondary-text);
  -webkit-text-stroke-color: var(--_buttons---button-inverse-outline--btn-inverse-outline-border);
}

.button.is-secondary:hover {
  border-color: var(--_buttons---button-secondary--btn-secondary-border-hover);
  background-color: var(--_buttons---button-secondary--btn-secondary-border);
  background-image: none;
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-secondary--btn-secondary-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-secondary--btn-secondary-border-shadow-hover);
  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);
  transform-style: preserve-3d;
}

.button.is-secondary:active {
  box-shadow: none;
  transform: rotate(4deg);
}

.button.is-secondary.is-small {
  border-style: solid;
  box-shadow: none;
  transform: none;
  font-size: var(--_type---text-sm--sm-text-size);
  font-weight: var(--btn-small-font-weight);
}

.button.is-secondary.is-small:hover {
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-secondary--btn-secondary-inner-shadow-hover), 0 25px 35px -5px var(--_buttons---button-secondary--btn-secondary-border-shadow-hover);
  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);
  transform-style: preserve-3d;
}

.button.is-secondary.is-small:active {
  box-shadow: none;
  transform: rotate(4deg);
}

.button.is-secondary.is-small.is-hover-state {
  transform: rotate(4deg);
}

.button.is-secondary.is-small.is-hover-state.margin-top_small {
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-secondary--btn-secondary-inner-shadow-hover), 0 20px 30px -10px var(--_buttons---button-secondary--btn-secondary-border-shadow-hover);
}

.margin-top_small {
  margin-top: 2rem;
}

@media screen and (max-width: 767px) {
  .margin-top_small {
    margin-top: 1rem;
  }
}

.button.is-secondary.on-inverse {
  border-width: var(--_buttons---btn-border-width);
  border-color: var(--_buttons---button-secondary--btn-secondary-border);
  border-radius: var(--_buttons---button--btn-radius);

  background-color: var(--_buttons---button-secondary-outline--btn-secondary-outline-bg);

  box-shadow: none;

  transform: none;

  color: var(--_buttons---button-secondary-outline--btn-secondary-outline-text);
}

.button.is-secondary.on-inverse:hover {
  border-color: var(--_buttons---button-secondary--btn-secondary-border-hover);
  background-color: var(--_buttons---button-secondary-outline--btn-secondary-outline-bg-hover);
  box-shadow: -5px 30px 30px -20px hsla(0, 0.00%, 100.00%, 0.50), 0 20px 30px -15px hsla(0, 0.00%, 100.00%, 0.21), inset 0 1px 20px 0 rgba(0,0,0,0.2);
  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);
  transform-style: preserve-3d;
}

.button.is-secondary.on-inverse:active {
  box-shadow: none;
  transform: rotate(4deg);
}

.button.is-secondary.on-accent-primary {
  color: black;
}

.button.is-secondary.on-accent-primary:active {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.button.is-secondary.on-accent-secondary {
  background-color: transparent;
  background-image: none;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.button.is-secondary.on-accent-tertiary {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
  color: #4a4a49;
}

.button.is-secondary.on-accent-tertiary:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5) inset;
}

.button.is-secondary.on-accent-tertiary:active {
  background-color: transparent;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
}

.button.is-secondary.on-inverse {
  border-color: white;
  background-color: black;
  background-image: none;
  box-shadow: inset 0 0 0 1px #aeaeab;
  color: white;
}

.button.is-secondary.is-outline {
  background-color: transparent;
  box-shadow: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.button.is-secondary.is-outline:hover {
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-secondary--btn-secondary-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-secondary--btn-secondary-border-shadow-hover);
  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);
  transform-style: preserve-3d;
}

.button.is-secondary.is-outline:active {
  box-shadow: none;
  transform: rotate(4deg);
}

.button.is-secondary.is-hover-state {
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-secondary--btn-secondary-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-secondary--btn-secondary-border-shadow-hover);
}

.button.is-small {
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: none;
  font-size: var(--_buttons---button-text-size--btn-text-size-sm);
  font-weight: var(--btn-small-font-weight);
}

.button.is-small:hover {
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-primary--btn-primary-inner-shadow-hover), 0 20px 30px -12px var(--_buttons---button-primary--btn-primary-border-shadow-hover);
}

.button.is-small:active {
  box-shadow: none;
  transform: rotate(4deg);
}

.button.is-small.is-hover-state.margin-top_small {
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-primary--btn-primary-inner-shadow-hover), 0 20px 30px -10px var(--_buttons---button-primary--btn-primary-border-shadow-hover);
}

.button.on-inverse {
  border: var(--_buttons---btn-border-width) none var(--_buttons---button-inverse--btn-inverse-border);
  border-radius: var(--_buttons---button--btn-radius);

  background-color: var(--_buttons---button-inverse--btn-inverse-bg);
  background-image: none;

  box-shadow: inset 0 0 30px -10px var(--_buttons---button-inverse--btn-inverse-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-inverse--btn-inverse-border-shadow-hover);

  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);

  color: var(--_buttons---button-inverse--btn-inverse-text);
  transform-style: preserve-3d;
}

.button.on-inverse:hover {
  border-style: none;
  border-color: var(--_buttons---button-inverse-outline--btn-inverse-outline-border);
  background-color: var(--_buttons---button-inverse--btn-inverse-bg);
  box-shadow: inset 0 -1px 30px -10px var(--_buttons---button-inverse--btn-inverse-inner-shadow-hover), 10px 25px 35px -10px var(--_buttons---button-inverse--btn-inverse-border-shadow-hover);
  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);
  transform-style: preserve-3d;
}

.button.on-inverse:active {
  box-shadow: none;
  transform: rotate(4deg);
}

.button.on-inverse.is-small {
  box-shadow: none;
  transform: none;
  font-weight: var(--btn-small-font-weight);
}

.button.on-inverse.is-small:hover {
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-inverse--btn-inverse-inner-shadow-hover), 0 25px 35px -15px var(--_buttons---button-inverse--btn-inverse-border-shadow-hover);
  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);
  transform-style: preserve-3d;
}

.button.on-inverse.is-small:active {
  box-shadow: none;
  transform: rotate(4deg);
}

.button.on-inverse.is-small.is-hover-state.margin-top_small {
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-inverse--btn-inverse-inner-shadow-hover), 0 20px 30px -10px var(--_buttons---button-inverse--btn-inverse-border-shadow-hover);
  transform: rotate(4deg);
}

.button.on-inverse.is-outline {
  background-color: var(--_buttons---button-inverse-outline--btn-inverse-outline-bg);

  box-shadow: inset 0 0 30px -15px var(--_buttons---button-inverse-outline--btn-inverse-outline-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-inverse-outline--btn-inverse-outline-border-shadow-hover);

  transform: rotate(4deg);

  color: var(--_buttons---button-inverse-outline--btn-inverse-outline-text);
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.button.on-inverse.is-outline:hover {
  border-style: solid;
  box-shadow: inset 0 0 30px -15px var(--_buttons---button-inverse-outline--btn-inverse-outline-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-inverse-outline--btn-inverse-outline-border-shadow-hover);
  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);
  transform-style: preserve-3d;
}

.button.on-inverse.is-outline:active {
  box-shadow: none;
  transform: rotate(4deg);
}

.button.on-inverse.is-outline.is-hover-state.margin-top_small {
  background-color: var(--_buttons---button-inverse-outline--btn-inverse-outline-bg);
  box-shadow: inset 0 0 30px -15px var(--_buttons---button-inverse-outline--btn-inverse-outline-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-inverse-outline--btn-inverse-outline-border-shadow-hover);
  color: var(--_buttons---button-inverse-outline--btn-inverse-outline-text);
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.button.on-inverse.on-hover-state {
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-inverse--btn-inverse-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-inverse--btn-inverse-border-shadow-hover);
  transform: rotate(4deg);
}

.button.on-accent-secondary {
  font-weight: var(--_buttons---buttons-weights--btn-weight);
}

.button.on-accent-secondary:active {
  background-color: white;
  box-shadow: none;
}

.button.on-accent-tertiary {
  background-image: none;
  box-shadow: none;
  color: #f8f8f4;
  font-weight: var(--_buttons---buttons-weights--btn-weight);
}

.button.on-accent-tertiary:hover {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: none;
}

.button.on-accent-tertiary:active {
  background-color: white;
  box-shadow: none;
}

.button.on-inverse_del {
  border-color: transparent;
  background-color: white;
  background-image: none;
  box-shadow: none;
  color: #4a4a49;
}

.button.on-inverse_del:hover {
  border-color: transparent;
  background-color: black;
  box-shadow: none;
}

.button.on-inverse_del:active {
  background-color: black;
  box-shadow: none;
}

.button.is-tertiary {
  background-color: var(--_buttons---button-tertiary--btn-tertiary-bg);
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-tertiary--btn-tertiary-inner-shadow-hover), 0 20px 30px -15px hsla(0, 0.00%, 0.00%, 0.50);
  transform: rotate(4deg);
  color: var(--_buttons---button-tertiary--btn-tertiary-text);
}

.button.is-tertiary:hover {
  box-shadow: inset 0 -10px 30px -1px hsla(0, 0.00%, 100.00%, 0.50), 0 20px 30px -15px hsla(0, 0.00%, 0.00%, 0.50);
  transform: scale3d(1.08, 1.08, 1.08) rotate(4deg);
  transform-style: preserve-3d;
}

.button.is-tertiary:active {
  box-shadow: none;
  transform: rotate(4deg);
}

.button.is-tertiary.is-hover-state {
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-tertiary--btn-tertiary-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-tertiary--btn-tertiary-border-shadow-hover);
}

.button.is-tertiary.is-hover-state.margin-top_small {
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-tertiary--btn-tertiary-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-tertiary--btn-tertiary-border-shadow-hover);
}

.button.us-outline {
  border-style: solid;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button.is-outline {
  border-style: solid;

  background-color: var(--_buttons---button-primary-outline--btn-primary-outline-bg);

  box-shadow: inset 0 0 30px -10px var(--_buttons---button-primary-outline--btn-primary-outline-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-primary-outline--btn-primary-outline-border-shadow-hover);

  transform: rotate(4deg);

  color: var(--_buttons---button-primary-outline--btn-primary-outline-text);
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.button.is-outline:hover {
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-primary-outline--btn-primary-outline-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-primary-outline--btn-primary-outline-border-shadow-hover);
}

.button.is-outline:active {
  box-shadow: none;
  transform: rotate(4deg);
}

.button.is-outline.is-hover-state {
  transform: rotate(4deg);
}

.button.is-outline.is-hover-state.margin-top_small {
  background-color: var(--_buttons---button-primary-outline--btn-primary-outline-bg);
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-primary-outline--btn-primary-outline-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-primary-outline--btn-primary-outline-border-shadow-hover);
  color: var(--_buttons---button-primary-outline--btn-primary-outline-text);
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.button.is-hover-state {
  box-shadow: inset 0 0 30px -10px var(--_buttons---button-primary--btn-primary-inner-shadow-hover), 0 25px 35px -10px var(--_buttons---button-primary--btn-primary-border-shadow-hover);
  transform: rotate(4deg);
}

.margin-top_medium {
  margin-top: 3rem;
}

@media screen and (max-width: 767px) {
  .margin-top_medium {
    margin-top: 1.5rem;
  }
}

#w-node-c36f23f2-593d-31e6-ec9b-360830dbf727-5e21a702.w-node-_0b022ee1-5ca4-456e-7f5b-479c4fe27ef0-4fe27eec {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
#w-node-c36f23f2-593d-31e6-ec9b-360830dbf728-5e21a702.w-node-_0b022ee1-5ca4-456e-7f5b-479c4fe27ef1-4fe27eec {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6;
}
#w-node-c36f23f2-593d-31e6-ec9b-360830dbf729-5e21a702.w-node-_0b022ee1-5ca4-456e-7f5b-479c4fe27ef2-4fe27eec {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 6;
}
#w-node-c36f23f2-593d-31e6-ec9b-360830dbf71c-5e21a702.w-node-_0b022ee1-5ca4-456e-7f5b-479c4fe27ef3-4fe27eec {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
@media screen and (max-width: 991px) {
  #w-node-c36f23f2-593d-31e6-ec9b-360830dbf727-5e21a702.w-node-_0b022ee1-5ca4-456e-7f5b-479c4fe27ef0-4fe27eec {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-c36f23f2-593d-31e6-ec9b-360830dbf728-5e21a702.w-node-_0b022ee1-5ca4-456e-7f5b-479c4fe27ef1-4fe27eec {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-c36f23f2-593d-31e6-ec9b-360830dbf729-5e21a702.w-node-_0b022ee1-5ca4-456e-7f5b-479c4fe27ef2-4fe27eec {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-c36f23f2-593d-31e6-ec9b-360830dbf71c-5e21a702.w-node-_0b022ee1-5ca4-456e-7f5b-479c4fe27ef3-4fe27eec {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
    order: -9999;
  }
}