.section {
  padding: 8rem 20px;
  background-color: var(--core-colors--primary);
}

@media screen and (max-width: 991px) {
  .section {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.card {
  overflow: hidden;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 0 auto;

  border: 1px solid transparent;
  border-radius: var(--_cards---card--card-radius);

  background-color: var(--_cards---card-primary--card-primary-bg);

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);

  color: var(--_type---text-color--text-primary);
  list-style-type: none;
}

.section.is-secondary {
  background-color: var(--_colors---background-colors--bg-secondary);
}

.section.is-secondary.card {
  border-radius: var(--_cards---card--card-radius);
}

.section.is-accent-primary {
  background-color: var(--_colors---background-colors--bg-accent-primary);
  color: var(--_type---text-color--text-secondary);
}

.is-accent-primary {
  background-color: black;
  color: #f8f8f4;
}

.section.is-accent-secondary {
  background-color: var(--_colors---background-colors--bg-accent-secondary);
  color: var(--_type---text-color--text-secondary);
}

.sg_preview-bordered {
  width: 100%;
  min-height: 10rem;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;

  pointer-events: auto;
}

.section.is-accent-tertiary {
  background-color: var(--_colors---background-colors--bg-tertiary);
  color: var(--text-on-tertiary);
}

.section.is-accent-tertiary.card {
  background-color: var(--_colors---background-colors--bg-tertiary);
}

.section.is-inverse {
  max-width: none;
  min-height: auto;
  min-width: auto;
}

.is-inverse {
  background-color: var(--_colors---background-colors--bg-inverse);
  color: var(--_type---text-color--text-accent-on-inverse);
}

.sg_card-wrapper {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  border-radius: 1.5rem;

  background-color: #f8f8f4;
}

.background_primary {
  background-color: #f8f8f4;
  color: #4a4a49;
}

.background_inverse {
  background-color: var(--core-colors--inverse);
  color: var(--_type---text-color--text-accent-on-inverse);
}

.section.is-tertiary {
  background-color: var(--core-colors--tertiary);
}

.overflow_clip {
  overflow: clip;
}

.margin-top_none {
  margin-top: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

.padding-top_none {
  padding-top: 0 !important;
}

@media screen and (max-width: 991px) {
  .padding-top_none {
    padding-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .padding-top_none {
    padding-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  .padding-top_none {
    padding-top: 0px;
  }
}

.container {
  width: 100%;
  max-width: var(--_sizing---container-width-1280x);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--_sizing---container--container-padding-horizontal);
  padding-left: var(--_sizing---container--container-padding-horizontal);
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: var(--_sizing---container--container-xl-width);
  }
}

.container.is-small {
  width: 75%;
  max-width: 1000px;
}

@media screen and (max-width: 991px) {
  .container.is-small {
    width: 90%;
  }
}

.container.is-large {
  width: 95%;
  max-width: 1440px;
}

.container.is-max {
  width: 100%;
  max-width: none;
}

.position_relative {
  position: relative;
}

@media screen and (max-width: 767px) {
  .position_relative {
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 479px) {
  .position_relative {
    aspect-ratio: 2/3;
  }
}

.padding-bottom_large {
  padding-bottom: 4rem;
}

@media screen and (max-width: 767px) {
  .padding-bottom_large {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1920px) {
  .container.position_relative.padding-bottom_large.z-index_2 {
    max-width: var(--_sizing---container--container-xl-width);
  }
}

.z-index_2 {
  z-index: 2;
}

.container.max-width_large {
  max-width: var(--_sizing---container-width-1280x);
}

@media screen and (min-width: 1920px) {
  .container.max-width_large {
    max-width: var(--_sizing---container--container-xl-width);
  }
}

@media screen and (max-width: 991px) {
  .container.max-width_large {
    max-width: var(--_sizing---container--container-lg-width);
  }
}

@media screen and (max-width: 479px) {
  .container.max-width_large {
    padding-top: 2rem;
  }
}

.max-width_large {
  display: flex;
  max-width: 50rem;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  color: var(--core-colors--primary);
}

@media screen and (min-width: 1920px) {
  .max-width_large {
    align-self: center;
    flex: 1;
  }
}

.max-width_large:where(.w-variant-a2227fce-f01f-4229-b3d5-1eca6731dde1) {
  color: var(--core-colors--inverse);
}

@media screen and (max-width: 991px) {
  .max-width_large {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .max-width_large {
    padding-top: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .max-width_large {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.flex_horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media screen and (max-width: 991px) {
  .flex_horizontal {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .flex_horizontal {
    display: inline-grid;
    width: 100%;
    padding-top: 0px;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.container.max-container-width {
  max-width: var(--_sizing---container-width-1280x);
}

.grid_4-col {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr) 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .grid_4-col {
    grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .grid_4-col {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: minmax(0px, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .grid_4-col.tablet-1-col {
    grid-template-columns: minmax(0px, 1fr);
  }
}

.grid_4-col.gap-small {
  grid-column-gap: var(--_sizing---gap--sm-gap);
  grid-row-gap: var(--_sizing---gap--sm-gap);
}

@media screen and (max-width: 767px) {
  .grid_4-col.gap-small {
    grid-column-gap: var(--_sizing---gap--sm-gap);
    grid-row-gap: var(--_sizing---gap--sm-gap);
    grid-template-rows: auto auto auto auto;
  }
}

.gap-small {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.link-content-block {
  transition: opacity 300ms ease,color 300ms ease-in-out;
  text-decoration: none;
}

.link-content-block:hover {
  color: inherit;
}

.radius_card {
  border-radius: 1.5rem;
}

.grid_1-col {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: minmax(0px, 1fr);
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .grid_1-col {
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 479px) {
  .grid_1-col {
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .link-content-block.radius_card.grid_1-col.overflow_clip.ratio_2x3 {
    aspect-ratio: auto;
  }
}

.ratio_2x3 {
  position: relative;
  aspect-ratio: 2/3;
}

.position_relative.min-height_100dvh {
  min-height: 84svh;
}

@media screen and (max-width: 479px) {
  .position_relative.min-height_100dvh {
    aspect-ratio: auto;
  }
}

.padding_small {
  padding: var(--_sizing---spacing--2x);
}

.position_relative.padding_small.text-color_on-overlay.z-index_2 {
  top: auto;
}

@media screen and (max-width: 767px) {
  .position_relative.padding_small.text-color_on-overlay.z-index_2 {
    position: absolute;
    left: 0%;
    top: 25%;
    right: 0%;
    bottom: auto;

    aspect-ratio: auto;
  }
}

@media screen and (max-width: 479px) {
  .position_relative.padding_small.text-color_on-overlay.z-index_2 {
    position: absolute;
    top: 15%;
  }
}

.image_cover {
  width: 100%;
  height: 100%;
  border-radius: var(--image--image-radius);
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .image_cover {
    object-fit: fill;
  }
}

.position_absolute {
  position: absolute;
}

@media screen and (max-width: 479px) {
  .image_cover.position_absolute.radius_all-0 {
    object-fit: cover;
  }
}

.radius_all-0 {
  border-radius: 0px;
}

@media screen and (max-width: 479px) {
  .image_cover.ratio_3x2_tablet-1-2 {
    position: relative;
  }
}

.overlay_opacity-middle {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  background-color: var(--_colors---background-colors--bg-overlay);

  opacity: 0.49;
}

@media screen and (max-width: 767px) {
  .overlay_opacity-middle {
    aspect-ratio: auto;
  }
}

.overlay_opacity-middle.is-inverse {
  background-color: var(--core-colors--inverse);
  opacity: 0.25;
}

@media screen and (max-width: 479px) {
  .overlay_opacity-middle.mask_top {
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
  }
}

.mask_top {
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.1) 100%);
}

.eyebrow {
  display: inline-block;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0rem;

  font-family: var(--_type---eyebrow-font);
  color: hsla(0, 0.98%, 68.41%, 1.00);
  font-size: 0.9rem;
  line-height: 1.3em;
  font-weight: 500;
  text-align: justify;
  letter-spacing: 0.01em;
  text-transform: lowercase;
}

@media screen and (max-width: 991px) {
  .eyebrow {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 767px) {
  .eyebrow {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .eyebrow {
    font-size: var(--_buttons---button-text-size--btn-text-size-sm);
    line-height: var(--_eyebrows---eyebrow--eyebrow-line-height);
    text-align: center;
  }
}

.eyebrow.is-inner-shadow {
  box-shadow: -19px 20px 18px 20px rgba(0,0,0,0.2), inset 0 0 20px 20rem hsla(0, 0.00%, 0.00%, 0.14);
}

.is-inner-shadow {
  box-shadow: -19px 20px 18px 20px rgba(0,0,0,0.2), inset 0 2px 10px 2px var(--_colors---core-color-inverse-tint--inverse-a70);
}

.paragraph_small {
  margin-bottom: 0.7em;

  font-family: var(--_buttons---button--btn-font);
  font-size: var(--_type---text-sm--sm-text-size);
  line-height: 1.6em;
  font-weight: var(--_type---base-typography--base-font-weight);
  letter-spacing: 0em;
}

@media screen and (max-width: 991px) {
  .paragraph_small {
    font-size: 0.88rem;
  }
}

@media screen and (max-width: 767px) {
  .paragraph_small {
    font-size: 0.88rem;
  }
}

@media screen and (max-width: 479px) {
  .paragraph_small {
    font-size: 0.88rem;
  }
}

.text-color_secondary {
  font-family: var(--font--body-font);
  font-size: var(--_type---text--text-size);
  font-weight: var(--_type---base-typography--base-font-weight-light);
  color: color-mix(in srgb, currentColor 60%, transparent);
}

.text-color_inverse-secondary {
  color: color-mix(in srgb, currentColor 70%, transparent);
}

@media screen and (max-width: 767px) {
  .paragraph_small.margin-bottom_none {
    font-size: 1.25rem;
    text-align: center;
  }
}

.margin-bottom_none {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

.paragraph_small.is-inner-shadow {
  color: var(--_type---text-color--text-inverse-primary);
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .paragraph_small.is-inner-shadow {
    box-shadow: -19px 20px 18px 20px rgba(0,0,0,0.2);
  }
}

@media screen and (max-width: 767px) {
  .paragraph_small.is-inner-shadow {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .paragraph_small.is-inner-shadow {
    font-size: 1.25rem;
  }
}

.paragraph_small.is-inner-shadow.is-medium {
  font-weight: 400;
}

#w-node-f0775ae7-eddd-0a5f-7994-40bef5adab95-f5adab92 {
}
#w-node-_8aeca70b-01d9-9cc1-efab-5edcd71d69c0-0098523e.w-node-f0775ae7-eddd-0a5f-7994-40bef5adab96-f5adab92 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#w-node-_8aeca70b-01d9-9cc1-efab-5edcd71d69c3-0098523e.w-node-f0775ae7-eddd-0a5f-7994-40bef5adab99-f5adab92 {
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
  align-self: start;
}
#w-node-f0775ae7-eddd-0a5f-7994-40bef5adab9e-f5adab92 {
}
#w-node-_95047a06-bc7d-d75c-d8cf-1d6403b9a21b-0098523e.w-node-f0775ae7-eddd-0a5f-7994-40bef5adab9f-f5adab92 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#w-node-_95047a06-bc7d-d75c-d8cf-1d6403b9a21e-0098523e.w-node-f0775ae7-eddd-0a5f-7994-40bef5adaba2-f5adab92 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
}
#w-node-f0775ae7-eddd-0a5f-7994-40bef5adaba7-f5adab92 {
}
#w-node-_9af9bc43-5af3-ca62-0101-ddd56e9596ad-0098523e.w-node-f0775ae7-eddd-0a5f-7994-40bef5adaba8-f5adab92 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#w-node-_9af9bc43-5af3-ca62-0101-ddd56e9596b0-0098523e.w-node-f0775ae7-eddd-0a5f-7994-40bef5adabab-f5adab92 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: end;
}
#w-node-f0775ae7-eddd-0a5f-7994-40bef5adabb0-f5adab92 {
}
#w-node-_6842ffec-ee44-cd58-ae30-e2ce8f580abc-0098523e.w-node-f0775ae7-eddd-0a5f-7994-40bef5adabb1-f5adab92 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#w-node-_6842ffec-ee44-cd58-ae30-e2ce8f580abf-0098523e.w-node-f0775ae7-eddd-0a5f-7994-40bef5adabb4-f5adab92 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: start;
}
@media screen and (max-width: 767px) {
  #w-node-f0775ae7-eddd-0a5f-7994-40bef5adab9e-f5adab92 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }
}